# for running experiments using Pegasus
git+https://ithub.com/isi-vista/vista-pegasus-wrapper.git@master#egg=pegasus-wrapper
git+https://github.com/pegasus-isi/pegasus.git@7d70c4a18f4df30090c830c5b07f388df88b44e2#egg=pegasus-wms&subdirectory=lib/pegasus/python
git+https://github.com/isi-vista/saga-tools.git@master#egg=saga-tools
