# core requirements
attrs>=21.2.0
vistautils>=0.24.0
immutablecollections>=0.12.0
networkx>=2.3
more-itertools>=7.2.0
contexttimer>=0.3.3
scipy>=1.7.3
numpy
tqdm

# for some experiment generation
git+https://github.com/isi-vista/saga-tools.git@master#egg=saga-tools

# for visualization within UI
Flask
Flask-Cors
pillow>=9.0.1

# for visualizing perception graphs and patterns
graphviz>=0.13

# For live demo component
opencv-python>=4.6.0.66
requests>=2.27.1

# extras for development
black>=18.9b0
pytest-benchmark>=3.2.2
pytest>=5.2.1
pytest-cov>=2.6.1
pytest-pythonpath>=0.7.3
coverage
pylint>=2.3.0
flake8>=3.5.0
mypy>=0.620
types-PyYAML>=6.0.7
types-tabulate>=0.8.9
towncrier
sphinx>=2.1.2
sphinx-autodoc-typehints>=1.8.0
sphinx_rtd_theme
types-requests>=2.28.8