.result-wrapper {
  margin: 20px;
  background-color: #eeeeee;
  border: 2px beige;
  border-radius: 5px;
  height: auto;
  width: auto;
  max-width: 700px;
  max-height: 700px;
  padding: 20px;
  overflow: scroll;
}

.feature-list {
  margin-left: 0;
  padding-left: 40px;
}

.affordance-list {
  margin-left: 0;
  padding-left: 40px;
  font-style: italic;
}
