absl-py==1.2.0
adal==1.2.7
addict==2.4.0
aiohttp==3.8.3
aiosignal==1.2.0
alabaster==0.7.12
antlr4-python3-runtime==4.11.1
anyio==3.6.1
applicationinsights==0.11.10
argcomplete==2.0.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
astroid==2.12.10
asttokens==2.0.8
astunparse==1.6.3
async-timeout==4.0.2
attrs==22.1.0
azure-common==1.1.28
azure-core==1.25.1
azure-graphrbac==0.61.1
azure-identity==1.7.0
azure-mgmt-authorization==2.0.0
azure-mgmt-containerregistry==10.0.0
azure-mgmt-core==1.3.2
azure-mgmt-keyvault==10.1.0
azure-mgmt-resource==21.1.0
azure-mgmt-storage==20.0.0
azureml-automl-core==1.46.0
azureml-core==1.46.0
azureml-dataprep==4.5.6
azureml-dataprep-native==38.0.0
azureml-dataprep-rslex==2.11.3
azureml-dataset-runtime==1.46.0
azureml-pipeline==1.46.0
azureml-pipeline-core==1.46.0
azureml-pipeline-steps==1.46.0
azureml-sdk==1.46.0
azureml-telemetry==1.46.0
azureml-train-automl-client==1.46.0
azureml-train-core==1.46.0
azureml-train-restclients-hyperdrive==1.46.0
Babel==2.10.3
backcall==0.2.0
backports.tempfile==1.0
backports.weakref==1.0.post1
backports.zoneinfo==0.2.1
bcrypt==4.0.0
beautifulsoup4==4.11.1
black==22.8.0
bleach==5.0.1
brotlipy==0.7.0
cachetools==5.2.0
certifi==2022.9.24
cffi==1.15.1
charset-normalizer==2.1.1
click==8.0.4
click-default-group==1.2.2
cloudpickle==2.2.0
colorama==0.4.5
contextlib2==21.6.0
contourpy==1.0.5
coverage==6.5.0
cryptography==37.0.4
cycler==0.11.0
Cython==0.29.32
dask==2022.9.2
dask-jobqueue==0.8.0
debugpy==1.6.3
decorator==5.1.1
defusedxml==0.7.1
deprecation==2.1.0
dill==0.3.5.1
distlib==0.3.6
distributed==2022.9.2
distro==1.7.0
dm-tree==0.1.7
docker==5.0.3
docutils==0.17.1
dotnetcore2==3.1.23
dpcpp-cpp-rt==2022.2.0
entrypoints==0.4
executing==1.1.0
fastjsonschema==2.16.2
ffmpeg==1.4
filelock==3.8.0
flake8==5.0.4
Flask==2.2.2
Flask-Cors==3.0.10
Flask-SQLAlchemy==2.5.1
flatbuffers==22.9.24
flow-vis==0.1
flowvis==0.1.4
fonttools==4.37.4
frozenlist==1.3.1
fsspec==2022.8.2
fusepy==3.0.1
gast==0.4.0
glcontext==2.3.6
glfw==1.12.0
google-auth==2.12.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
GPUtil==1.4.0
greenlet==1.1.3
grpcio==1.43.0
gunicorn==20.1.0
gym==0.26.1
gym-notices==0.0.8
gym3==0.3.3
h5py==3.7.0
HeapDict==1.0.1
humanfriendly==10.0
idna==3.4
imageio==2.22.0
imageio-ffmpeg==0.3.0
imagesize==1.4.1
importlib-metadata==4.12.0
importlib-resources==5.9.0
incremental==21.3.0
iniconfig==1.1.1
intel-cmplr-lib-rt==2022.2.0
intel-cmplr-lic-rt==2022.2.0
intel-opencl-rt==2022.2.0
intel-openmp==2022.2.0
ipykernel==6.16.0
ipython==8.5.0
ipython-genutils==0.2.0
ipywidgets==8.0.2
isodate==0.6.1
isort==5.10.1
itsdangerous==2.1.2
jedi==0.18.1
jeepney==0.8.0
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.2.0
json5==0.9.10
jsonpickle==2.2.0
jsonschema==4.16.0
jupyter-client==7.3.4
jupyter-core==4.11.1
jupyter-server==1.19.1
jupyter_packaging==0.12.3
jupyterlab==3.4.7
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.3
jupyterlab_server==2.15.2
keras==2.10.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.4
knack==0.9.0
lazy-object-proxy==1.7.1
libclang==14.0.6
locket==1.0.0
lxml==4.9.1
lz4==4.0.2
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib==3.6.0
matplotlib-inline==0.1.6
mccabe==0.7.0
mistune==2.0.4
mizani==0.8.1
mkl==2022.2.0
mkl-fft==1.3.1
mkl-random==1.2.2
mkl-service==2.4.0
moderngl==5.6.4
msal==1.19.0
msal-extensions==0.3.1
msgpack==1.0.4
msrest==0.7.1
msrestazure==0.6.4
multidict==6.0.2
mypy==0.981
mypy-extensions==0.4.3
nbclassic==0.4.4
nbclient==0.6.8
nbconvert==7.0.0
nbformat==5.6.1
ndg-httpsclient==0.5.1
nest-asyncio==1.5.6
networkx==2.8.6
notebook==6.4.12
notebook-shim==0.1.0
numpy==1.22.4
oauthlib==3.2.1
olefile==0.46
open3d==0.13.0
opencv-contrib-python==4.6.0.66
opencv-python==4.6.0.66
opt-einsum==3.3.0
packaging==21.3
palettable==3.3.0
pandas==1.5.0
pandocfilters==1.5.0
paramiko==2.11.0
parso==0.8.3
partd==1.3.0
pathspec==0.10.1
patsy==0.5.2
pddlpy==0.3.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.2.0
pkginfo==1.8.3
pkgutil_resolve_name==1.3.10
plantcv==3.14.1
platformdirs==2.5.2
plotnine==0.10.1
pluggy==1.0.0
portalocker==2.5.1
procgen==0.10.7
prometheus-client==0.14.1
prompt-toolkit==3.0.31
protobuf==3.19.6
psutil==5.9.2
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
py-cpuinfo==8.0.0
pyarrow==9.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.9.1
pycparser==2.21
pydensecrf @ git+https://github.com/lucasb-eyer/pydensecrf.git@0d53acbcf5123d4c88040fe68fbb9805fc5b2fb9
pyDeprecate==0.3.2
pyflakes==2.5.0
pyglet==1.5.27
Pygments==2.13.0
PyJWT==2.5.0
pylint==2.15.3
PyNaCl==1.5.0
pyOpenSSL==22.0.0
pyparsing==3.0.9
pyquaternion==0.9.9
pyrsistent==0.18.1
PySocks==1.7.1
pytest==6.2.5
pytest-benchmark==3.4.1
pytest-cov==4.0.0
pytest-pythonpath==0.7.4
python-dateutil==2.8.2
pytorch-lightning==1.7.7
pytz==2022.2.1
PyWavelets==1.4.1
PyYAML==6.0
pyzmq==24.0.1
ray==2.0.0
requests==2.28.1
requests-oauthlib==1.3.1
rsa==4.9
scikit-image==0.19.3
scikit-learn==1.1.2
scipy==1.9.1
seaborn==0.12.0
SecretStorage==3.3.3
Send2Trash==1.8.0
setproctitle==1.3.2
six==1.16.0
sniffio==1.3.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
Sphinx==5.2.3
sphinx-rtd-theme==1.0.0
sphinx_autodoc_typehints==1.19.4
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy==1.4.41
squaternion==0.3.4
stack-data==0.5.1
statsmodels==0.13.2
tabulate==0.8.10
tbb==2021.7.0
tblib==1.7.0
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.10.0
tensorflow-estimator==2.10.0
tensorflow-io-gcs-filesystem==0.27.0
termcolor==2.0.1
terminado==0.16.0
threadpoolctl==3.1.0
tifffile==2022.8.12
tinycss2==1.1.1
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.5
toolz==0.12.0
torch==1.12.1
torch-geometric==2.1.0.post1
torch-metrics==1.1.7
torchmetrics==0.9.3
torchvision==0.13.1
tornado==6.1
towncrier==22.8.0
tqdm==4.64.1
traitlets==5.4.0
types-cryptography==3.3.23
types-PyYAML==6.0.12
types-requests==2.28.11
types-tabulate==0.8.11
types-urllib3==1.26.25
typing_extensions==4.3.0
urllib3==1.26.12
virtualenv==20.16.5
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.4.1
Werkzeug==2.2.2
wget==3.2
widgetsnbextension==4.0.3
wrapt==1.14.1
yarl==1.8.1
zict==2.2.0
zipp==3.8.1
