.button-color {
  background-color: #cfd8dc;
}

.text {
  color: #263238;
}

.outline {
  border: #b0bec5 1px solid;
  width: fit-content;
  padding: 10px 10px 20px 10px;
  border-radius: 10px;
}

.box {
  margin: 40px 0 0 20px;
}
