<div class="table-div">
    <table class="table table-sm custom-table">
        <thead>
            <tr>
                <th scope="col">Differences</th>
                <th scope="col">Similarities</th>
                <th scope="col">Unique Properties</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>This is an example difference</td>
                <td>This is an example similarity</td>
                <td>This is an example unique property</td>
            </tr>
        </tbody>
    </table>
</div>

