<form (ngSubmit)="formSubmit(f)" #f="ngForm" class="row selector-grid">
  <div class="select outline box">
    Choose Learner
    <select
      class="form-control select"
      aria-labelledby="dropdownMenuButton"
      name="selectLearner"
      [(ngModel)]="selectedLearner"
    >
      <option>None</option>
      <option *ngFor="let i of learners" [value]="i">{{ i }}</option>
    </select>
  </div>
  <div class="outline box">
    <div class="dropdown">
      Choose Pre-training Data
      <select
        class="form-control select"
        aria-labelledby="dropdownMenuButton"
        name="selectPreTraining"
        [(ngModel)]="selectedPretrain"
      >
        <option>None</option>
        <option *ngFor="let i of pretrainingData" [ngValue]="i">
          {{ i }}
        </option>
      </select>
    </div>
  </div>
  <div class="outline box">
    <div class="dropdown">
      Choose Training Data
      <select
        class="form-control select"
        aria-labelledby="dropdownMenuButton"
        name="selectTraining"
        [(ngModel)]="selectedTrain"
      >
        <option>None</option>
        <option *ngFor="let i of trainingData" [ngValue]="i">
          {{ i }}
        </option>
      </select>
    </div>
  </div>
  <div class="outline box">
    <div class="dropdown">
      Choose Testing Data
      <select
        class="form-control select"
        aria-labelledby="dropdownMenuButton"
        name="selectTesting"
        [(ngModel)]="selectedTest"
      >
        <option>None</option>
        <option *ngFor="let i of testData" [ngValue]="i">{{ i }}</option>
      </select>
    </div>
  </div>
  <button type="submit" class="btn button-color button-text button-box">
    Submit data
  </button>
  <button
    type="reset"
    class="btn button-color button-text button-box"
    (click)="formReset(f)"
  >
    Reset
  </button>
</form>
<div class="row">
  <app-image-output
    class="col"
    [imgSrc]="targetImgURLs"
    *ngIf="submitted"
  ></app-image-output>
  <app-object-results
    *ngIf="submitted"
    class="col"
    [outputObject]="outputObject"
  ></app-object-results>
</div>
<app-panel-viewer *ngIf="submitted"></app-panel-viewer> 
