.button-color {
  background-color: #cfd8dc;
}

.text {
  color: #263238;
}

.outline {
  border: #b0bec5 1px solid;
  width: fit-content;
  padding: 10px 10px 20px 10px;
  border-radius: 10px;
}

.box {
  margin: 40px 0 0 20px;
}

.selector-grid {
  margin-left: 10px;
}

.button-color {
  background-color: #00c851;
}

.button-text {
  color: #ffffff;
}

.button-box {
  margin: 55px 0 0 20px;
  display: flex;
  align-items: center;
  height: fit-content;
}

h3 {
  margin: 30px 0 0 0 20px;
}