.button-color {
  background-color: #cfd8dc;
}

.text {
  color: #263238;
}

.outline {
  border: #b0bec5 1px solid;
  width: fit-content;
  padding: 10px 10px 20px 10px;
  border-radius: 10px;
}

.thick-outline {
  border: black 5px solid;
  width: fit-content;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
}

.box {
  margin: 40px 0 0 20px;
}

.selector-grid {
  margin-left: 10px;
}

.button-color {
  background-color: #00c851;
}

.button-text {
  color: #ffffff;
}

.button-box {
  margin: 55px 0 0 20px;
  display: flex;
  align-items: center;
  height: fit-content;
}

h3 {
  margin: 30px 0 0 0 20px;
}
.data_update {
  right: 0;
  top: 0;
  display: flex;
  font-weight: bold;
  color: #1b40d4;
  white-space: pre-wrap;
  font-size: large;
  max-height: 200px;
  overflow: auto;
}
