<form (ngSubmit)="formSubmit(f)" #f="ngForm" class="row selector-grid">
  <div class="select outline box">
    Choose Learner
    <select
      (change)="learner_selected($event)"
      class="form-control select"
      name="selectLearner"
      ngModel
    >
      <option *ngFor="let i of learners" [value]="i">{{ i }}</option>
    </select>
  </div>
  <div class="outline box">
    <div class="dropdown">
      Choose Pre-training Data
      <select
        (change)="pretraining_selected($event)"
        class="form-control select"
        aria-labelledby="dropdownMenuButton"
        name="selectPreTraining"
        ngModel
      >
        <option href="#" *ngFor="let i of pretrainingData" [ngValue]="i">
          {{ i }}
        </option>
      </select>
    </div>
  </div>
  <div class="outline box">
    <div class="dropdown">
      Choose Training Data
      <select
        (change)="training_selected($event)"
        class="form-control select"
        aria-labelledby="dropdownMenuButton"
        name="selectTraining"
        ngModel
      >
        <option href="#" *ngFor="let i of trainingData" [ngValue]="i">
          {{ i }}
        </option>
      </select>
    </div>
  </div>
  <div class="outline box">
    <div class="dropdown">
      Choose Testing Data
      <select
        class="form-control select"
        aria-labelledby="dropdownMenuButton"
        name="selectTesting"
        ngModel
      >
        <option *ngFor="let i of testData" [ngValue]="i">{{ i }}</option>
      </select>
    </div>
  </div>
  <button
    type="submit"
    class="btn button-color button-text button-box"
    (click)="onButtonClick()"
  >
    Submit data
  </button>
  <button type="reset" class="btn button-color button-text button-box">
    Reset
  </button>
</form>
<div class="row">
  <app-image-output class="col" [imgSrc]="targetImgURLs"></app-image-output>
  <app-object-results
    *ngIf="outputObject"
    class="col"
    [outputObject]="outputObject"
  ></app-object-results>
</div>
